.table-container {
    height: calc(100vh - 75px);
    display: flex;
}

.table-container .header-container {
    display: flex;
}

.table-container .table-content {
    width: calc(100% - 300px);
    overflow: hidden;
}

.table-container .header {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.table-container .nav-item {
    position: absolute;
    font-size: 14px;
    right: 0;
    font-weight: 500;
    margin: 20px;
}

.table-container .content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    overflow: auto;
    height: calc(100% - 100px);
}

.table-container .action-items {
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-container .items-per-page {
    cursor: pointer;
    outline: none;
    padding: 0 5px;
    width: 80px;
    height: 40px;
    border: 1px #d2d0d0 solid;
    border-radius: 4px;
}

.table-container .btn-primary {
    cursor: pointer;
    margin: 0 0 0 15px;
    border: 1px #d2d0d0 solid;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #4099ff;
    color: #fff;
    line-height: 35px;
}

.table-container .search > i {
    background-color: #e9eced;
}

.table-container .search > input {
    height: 30px;
    padding: 0 10px;
    border-radius: 3px 0 0 3px;
    outline: none;
    border: 1px #d2d0d0 solid;
}

.table-container .search > span {
    display: inline-block;
    cursor: pointer;
    height: 29px;
    width: 30px;
    border: 1px #d2d0d0 solid;
    padding-top: 2px;
    border-radius: 0 3px 3px 0;
    background-color: #e9ecee;
}

.table-container .table table {
    margin: 10px 10px 0 10px;
    min-width: 900px;
    border-collapse: collapse;
    width: calc(100% - 20px);
}

.table-container .table td,
th {
    border: 1px solid #d2d0d0;
    text-align: left;
    padding: 8px;
}

.table-container .table tr:nth-child(even) {
    background-color: #ecf5ff;
}

.table-container .table-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 10px 10px;
    justify-content: space-between;
    border: 1px solid #d2d0d0;
    height: 50px;
}

.table-container .table .table-nav {
    display: flex;
    height: 30px;
    margin: 10px;
}

.table-container .table .table-nav > div {
    border: 1px solid #d2d0d0;
    min-width: 30px;
    padding: 0px 5px;
    cursor: pointer;
}

.table-container .table .table-nav > div:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.table-container .table .table-nav > div:nth-last-child(1) {
    border-radius: 0 5px 5px 0;
}

.table-container .page-active {
    background-color: #4099ff;
    color: #fff;
}

.table-container .action > span {
    margin: 0 7px;
    cursor: pointer;
}

.table-container .desc {
    padding: 10px 0 0 10px;
    display: inline-flex;
}

@media only screen and (max-width: 960px) {
    .table-container .table-content {
        width: 100%;
    }
    .table-container .action-items {
        flex-direction: column;
    }
    .table-container .search {
        margin: 15px 0;
        display: inline-flex;
    }

    .table-container .table-footer {
        height: 100px;
        flex-direction: column;
    }

    .table-container .table-footer {
        height: 100px;
        flex-direction: column;
    }
}
