.side-nav-container {
    max-width: 300px;
    width: 300px;
    background-color: #263544;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #b7c0cd;
}

.side-nav-container .nav-items {
    display: flex;
    cursor: pointer;
    text-align: left;
    margin: 20px 0 20px 20px;
    position: relative;
}

.side-nav-container .nav-items:hover {
    color: #fff;
}

.side-nav-container .nav-items > span {
    margin: 0 10px;
}

.side-nav-container .nav-items .icon {
    position: absolute;
    right: 0;
    padding: 0 10px;
}

@media only screen and (max-width: 960px) {
    .side-nav-container {
        display: none;
    }
}
