.app-header {
    position: relative;
    height: 75px;
    box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
}

.app-header .logo {
    background-color: #263544;
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
}

.app-header .logo .toggle {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding: 27px 20px;
    color: white;
}

.app-header .title {
    color: #283445;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 300px;
    padding: 22px 20px;
}

.app-header .widget {
    position: absolute;
    right: 20px;
    padding: 15px 0;
}

.app-header .widget > span {
    margin: 0 20px 0 0;
    position: relative;
    bottom: 10px;
}

.app-header .widget .user-img {
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.app-header .widget .notification::after {
    content: "5";
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 13px;
    right: 7px;
    line-height: 18px;
    color: white;
    display: inline-block;
    background-color: #ff5370;
    border-radius: 50%;
}

.app-header .widget .message::after {
    content: "3";
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 13px;
    right: 7px;
    line-height: 18px;
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: #2ed8b6;
}

.app-header option {
    padding: 5px;
}

@media only screen and (max-width: 960px) {
    .app-header .widget {
        display: none;
    }
    .app-header .title {
        width: calc(100% - 360px);
    }
}
